@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600&display=swap");

body {
  font-family: "Encode Sans", sans-serif;
  color: #3c3c3b;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin: 0px;
  background-color: #ebebeb;
  width: 100%;
}
